<div class="legend">
  <div class="row" *ngFor="let key of keys; index as i;" >
    <div class="label col-6">
      <p>
        <span [style.background]="colors[i]"></span>{{key}}</p>
    </div>
    <div class="value col-6">
      {{ values[i] | currency:'BRL':true}}
    </div>
  </div>

  <div class="row" *ngIf="showTotal">
    <div class="label col-6">
      <p>TOTAL</p>
    </div>
    <div class="value col-6">
        {{ total | currency:'BRL':true}}
    </div>
  </div>


</div>
