<div class="revenue">
  <label class="chart-label">DESPESAS X RECEITAS</label>
  <canvas id="barChart">{{barChart}}</canvas>
  <app-legend [keys]="data.keys" [colors]="data.colors" [values]="data.values"></app-legend>

</div>
