<div class="wrapper container-fluid">
  <div class="row">
    <div [ngClass]="openMenu(menu)">

      <div class="row">
        <div class="link col-sm-4 col-md-12">
          <div class="logo"></div>
        </div>
        <div class="link col-sm-4 col-md-12">
          <i class="dashboard"></i>
          Meu Faturamento
        </div>
        <div class="link link--off col-sm-4 col-md-12">
          <i class="cadastro"></i>
          Cadastro
        </div>
      </div>
    </div>
    <div class="content col-12 col-md-10 ">
      <header class="row">
        <div class="menu-btn d-block d-md-none" (click)="menu = !menu">

        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">PETSHOP</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">MEU FATURAMENTO</li>
          </ol>
        </nav>
      </header>
      <div class="row">
        <button>Hoje</button>
        <button class="inactive">Ultima semana</button>
        <button class="inactive">Ultimo mês</button>
        <button class="inactive">Outro período</button>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-md-3 col-sm-12 filters">
            <div class="row">
              <div class="filter active col-6 col-md-12">
                <i class="totais"></i>
                <span>
                  TOTAIS
                </span>
              </div>
              <div class="filter col-6 col-md-12">
                <i class="clientes"></i>
                <span>
                  CLIENTES
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-9 charts">

            <div class="row d-flex justify-content-center bb-1">
              <div class="total">
                <label class="chart-label">VALOR TOTAL</label>
                <div class="value">
                  <span class="real">R$</span>
                  <span>{{ total.value }}</span>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-between">
              <div class="col-md-5">
                <app-services></app-services>
              </div>
              <div class="col-md-5">
                <app-revenue></app-revenue>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
