<div class="services">
  <label class="chart-label">SERVIÇOS</label>
  <canvas id="canvas">{{pieChart}}</canvas>

  <app-legend [keys]="data.keys" [colors]="data.colors" [values]="data.values" [showTotal]="true"></app-legend>
</div>
