/* You can add global styles to this file, and also import other style files */
body {
  background: #f5f7fa;
}

@import "./styles/bootstrap-4.0.0-dist/css/bootstrap.min.css";
@import "~compass-mixins/lib/compass";

/* Makes border-box properties */

// Fonts

@font-face {
  font-family: "din_condensedbold";
  src: url("./styles/fonts/din_condensed_bold-webfont.woff2") format("woff2"),
    url("./styles/fonts/din_condensed_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./styles/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir Roman";
  src: url("./styles/fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Avenir Light";
  src: url("./styles/fonts/AvenirLTStd-Light.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("./styles/fonts/Avenir-Bold.ttf");
}


// Colors

$verde: #09cfa3;
$verde-2: #09d0a3;
$menu-off: #049c7a;
$breadcrumb: #737689;
$label: #4a4a4a;
$title: #737689;
$bg: #f5f7fa;

* {
  box-sizing: border-box;
}

body {
  background: $bg;
}

.wrap {
  background: $bg;
}

header {
  font-family: 'Avenir Roman';
  text-transform: uppercase;
  padding: 20px 15px;
  border-bottom: 1px solid #e0e1e3;
  margin-bottom: 20px;

  .menu-btn {
    width: 30px;
    height: 30px;
    display: block;
    background: url("./assets/icons/ic_menu.svg") no-repeat top center;
    background-size: contain;
    text-align: center;
    margin: 8px 0px;
    cursor: pointer;
    @include transition(0.3s all ease-out);

    &:hover {
      @include rotateZ(180deg);
    }

  }

  .breadcrumb {
    background: $bg;
    margin-bottom: 0;

    li {
      font-size: 16px;
      a {
        color: $breadcrumb;
      }
    }
  }
}


.sidebar {
  background: $verde;
  min-height: 100vh;
  font-family: "Avenir";
  font-size: 14px;
  text-align: center;
  padding: 0;
  color: white;

  @include transition(0.3s all ease-out);

  &.open {
    display: block !important;
    height: auto;
    min-height: auto;
  }

  .link {
    margin: 25px 0px;
    cursor: pointer;

    i {
      background-color: white;
      margin: 5px auto;

    }
  }

  .link--off {
    i {
      background-color: $menu-off;
    }
    color: $menu-off;
  }

  .logo {
    width: 100%;
    height: 60px;
    display: block;
    background: url("./assets/icons/ic_logo.svg") no-repeat top center;
    background-size: contain;
    text-align: center;
  }

  i.dashboard {
    display: block;
    background-color: white;
    mask: url("./assets/icons/ic_dashboard.svg") 100% 100%;
    -webkit-mask: url("./assets/icons/ic_dashboard.svg") 100% 100%;
    mask-size: cover;
    height: 30px;
    width: 30px;
  }

  i.cadastro {
    display: block;
    background-color: $menu-off;
    mask: url("./assets/icons/ic_cadastro.svg") 100% 100%;
    -webkit-mask: url("./assets/icons/ic_cadastro.svg") 100% 100%;
    mask-size: cover;
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '|';
  margin: 0 5px;
}

button {
  background: $verde-2;
  border-radius: 20px;
  color: white;
  padding: 5px 30px;
  font-family: 'din_condensedbold';
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  margin: 5px 10px;
  @include transition(0.3s all ease-out);

  &:hover {
    background: darken($verde-2, 5%);
    opacity: 1;
  }

  &.inactive {
    opacity: 0.5;
  }
}


i.clientes {
  display: inline-block;
  background: url("./assets/icons/ic_clientes.svg") 100% 100%;
  height: 28px;
  width: 28px;
  margin-right: 10px;
  margin-top: 10px;
}
i.totais {
  display: inline-block;
  background-color: $title;
  height: 28px;
  width: 28px;
  margin-top: 10px;
  margin-right: 10px;
  font-family: 'Avenir Roman';
  color: $bg;
  text-align: center;
  @include border-radius(30px);
  &:before {
    display: block;
    content: '$';
    padding-top: 3px;
    padding-right: 4px;
  }
}

.charts {
  text-align: center;


  > .row {
    padding-top: 30px;
    padding-bottom: 30px;

    .services, .revenue, .total {
      padding: 20px 0px;
    }

    &.bb-1 {
      border-bottom: 1px solid #e0e1e3;
    }
  }

  .legend {
    padding: 35px 0px;

    .row {
      padding: 10px 0px;
    }

    .value {
      line-height: 30px;
      font-family: 'Avenir Bold';
      text-align: right;
      color: $label;
      padding-right: 30px;
    }
    .label {
      font-family: 'Avenir Roman';
      line-height: 30px;
      text-align: left;
      font-size: 13px;

      p {
        position: relative;
        padding-left: 35px;
        font-size: 12px;
        span {
          position: absolute;
          display: block;
          left: 0;
          width: 25px;
          height: 25px;
          @include border-radius(30px);
          margin-right: 10px;
          background: red;
          content: '';
        }
      }

    }
  }

  label.chart-label {
    font-family: 'din_condensedbold';
    font-size: 25px;
    color: $title;
  }
  .total {


    .value {
      color: $verde;
      font-size: 62px;
      font-family: "Avenir Roman";
      padding-left: 50px;
      position: relative;
      line-height: 50px;

      .real {
        font-size: 40px;
        position: absolute;
        left: -5px;
        top: -10px;
      }
    }
  }
}

.filters {
  padding-top: 30px;

  span {
    line-height: 50px;
    font-family: 'Avenir Bold';
  }

  .filter {
    color: $title;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}
